<header class="home-bg home-header-height">
  <div class="container px-0 home-bg h-100">
    <nav class="navbar navbar-expand-md navbar-light py-0">
      <%= link_to "Treco", root_path, data: {"turbolinks" => false}, class: "navbar-brand py-0 home-brand-size" %>
      <button class="navbar-toggler" data-toggle="collapse"
       data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="menu" class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item"><p class="nav-link text-dark mx-1 h5" id="signup-btn">新規登録</p></li>
          <li class="nav-item"><p class="nav-link text-dark mx-1 h5" id="login-btn">ログイン</p></li>
          <li class="nav-item"><%= link_to "お問い合わせ", help_path,  class: "nav-link text-dark mx-1 h5" %></li>
        </ul>        
      </div>
    </nav>
  </div>
</header>
<main class="home-bg home-main-size">
  <section>
    <div class="container home-bg d-flex">
      <div class="row flex-fill align-self-center home-row">
        <div class="col-8">
          <div class="mb-4">
            <h1 class="pl-5">Treco で自分のベストを</h1>
            <h1 class="pl-5">更新しよう</h1>            
          </div>
          <div>
            <h4 class="pl-5">Treco はあなたのトレーニング内容を</h4>
            <h4 class="pl-5">記録するノートです。</h4>            
          </div>
        </div>
        <div class="col-4 px-5" id="signup-form">
          <h2>新規登録</h2>
          <%= render 'shared/error_messages' %>
          <%= form_for @user do |f| %>
            <%= f.text_field :name, placeholder: "ニックネーム", class: "form-control my-4" %>
            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control mb-4" %>        
            <%= f.password_field :password, placeholder: "パスワード", class: "form-control mb-4" %>
            <%= f.submit "登録する", class: "btn btn-primary w-100" %>
          <% end %>
        </div>
        <div class="col-4 px-5" id="login-form">
          <h2>ログイン</h2>
          <%= form_for @user do |f| %>
            <%= f.email_field :email, placeholder: "メールアドレス", class: "form-control mb-4" %>        
            <%= f.password_field :password, placeholder: "パスワード", class: "form-control mb-4" %>
            <%= f.submit "ログイン", class: "btn btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>

