<!DOCTYPE html>
<html>
  <head>
    <title>Treco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Cherry+Swash:700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet"/>
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
